WCFDemo/ConWCFDemo/Service References/EmployeeServiceReference/EmployeeService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EmployeeService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:61491/EmployeeService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:61491/EmployeeService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:61491/EmployeeService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFDemo" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="EmployeeRequest">
    <wsdl:part name="parameters" element="tns:EmployeeRequest" />
  </wsdl:message>
  <wsdl:message name="EmployeeRequest_Headers">
    <wsdl:part name="Key" element="tns:Key" />
  </wsdl:message>
  <wsdl:message name="EmployeeResponse">
    <wsdl:part name="parameters" element="tns:EmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="EmployeeResponse_Headers">
    <wsdl:part name="CompanyName" element="tns:CompanyName" />
  </wsdl:message>
  <wsdl:portType name="IEmployeeService">
    <wsdl:operation name="GetEmployeeDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeService/GetEmployeeDetails" name="EmployeeRequest" message="tns:EmployeeRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeService/GetEmployeeDetailsResponse" name="EmployeeResponse" message="tns:EmployeeResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IEmployeeService" type="tns:IEmployeeService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetEmployeeDetails">
      <soap:operation soapAction="http://tempuri.org/IEmployeeService/GetEmployeeDetails" style="document" />
      <wsdl:input name="EmployeeRequest">
        <soap:header message="tns:EmployeeRequest_Headers" part="Key" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="EmployeeResponse">
        <soap:header message="tns:EmployeeResponse_Headers" part="CompanyName" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EmployeeService">
    <wsdl:port name="BasicHttpBinding_IEmployeeService" binding="tns:BasicHttpBinding_IEmployeeService">
      <soap:address location="http://localhost:61491/EmployeeService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>