WCFDemo/ConWCFDemo/Service References/EmployeeServiceReference/EmployeeService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:61491/EmployeeService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFDemo" />
  <xs:element name="EmployeeRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeptId" type="xs:int" />
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Key" nillable="true" type="xs:string" />
  <xs:element name="EmployeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFDemo" minOccurs="0" name="Dept" nillable="true" type="q1:Department" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFDemo" minOccurs="0" name="Emp" nillable="true" type="q2:Employee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CompanyName" nillable="true" type="xs:string" />
</xs:schema>